<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<%= @user.photo.attachment.nil? ? 'User has no photo' : image_tag(@user.photo, size: '100x100') %>
<p>You can reach <%= @user.first_name %> at <%= @user.email %>!

<%= render 'profile' %>
