<ul>
  <% if logged_in? %>
    <li><%= link_to "#{current_user.email}", '#' %></li>
    <li><%= link_to 'Log out', logout_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Register', register_path %></li>
    <li><%= link_to 'Log In', login_path %></li>
  <% end %>
</ul>
